@import "tailwindcss";

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

@theme {
  --color-custom-blue: #5A67D8;
  --color-custom-green: #34C759;
  --color-deep-sky-50: #F6FBEF;
  --color-deep-sky-100: #DDEEFD;
  --color-deep-sky-200: #B7DAFB;
  --color-deep-sky-400: #1B5E9D;
  --color-deep-sky-500: #0E7DE8;
  --color-hadopelagic: #04041F;
  --color-long-haul: #052176;
  --color-galactic-200: #9586BF;
  --color-galactic-500: #3E238B;
  --color-galactic-600: #5C238B;
  --color-mars-red: #BB252D;
  --color-aircraft-white: #EFF2F9;
  --color-asl-black: #1A1A1E;
  --color-dark-grey-200: #27272A;
  --color-dark-grey-300: #3F3F45;
  --color-dark-grey-400: #52525B;
  --color-dark-grey-500: #71717A;
  --color-grey-400: #8E8E9A;
  --color-base-100: #E4E4E7;
  --color-base-200: #A1A1AA;
  --color-elevation-0: #1A1A1E;
  --color-asl-color-text-100: #E4E4E7;
  --color-asl-color-text-200: #A1A1AA;
  --color-asl-color-text-300: #55555D;
  --color-asl-color-text-400: #3D3D42;
  --color-asl-color-text-invert: #131316;
}
